<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="comport_MODBUS" value=""/>
		<add key="comport" value="COM8"/>
		<add key="baudrate" value="9600"/>
		<add key="timer_tick" value="100"/>
		<add key="timeout" value="100"/>

		<add key="server_MQTT" value=""/>
		<add key="ip" value="103.175.220.42"/>
		<add key="port" value="1884"/>
		<add key="id" value="steamboxV3.0"/>
		<add key="user" value="sbMQTT"/>
		<add key="pass" value="sbMQTT1234"/>

		<add key="parameter_TK4M" value=""/>
		<add key="start_pemasakan" value="360"/>
		<add key="selisih_pemasakan" value="1"/>
		<add key="sv_on" value="320"/>
		<add key="alarm_on" value="-10"/>
		<add key="alarm_off" value="500"/>
	</appSettings>
</configuration>